# Python Week 2

Hi,

Today (08/31), we started our exciting python programming and data science journey.
Please make sure to understand basic arithematic operations, data types, and functions.
Note the difference among "%", "/", and "//".

Another important piece of knowledge is to getting tips from "help", "type", "function?".
As we make progress, we need to learn more about getting most out of jupyter notebook,
for example, using Markdown cells.

We are entering into the 2nd week!
This week, we will continue to practice basic python programming.
The topics are 
* string
* formatting
* list, tuple, set, dictionary
* in, contains, 
* looping list, tuple, set, dictionary

# Week 1 review

In [30]:
# two float numbers af and bf
af, bf = 5.4, 2.0
ai, bi = 5, 2

In [26]:
af/bf == 2.5

False

In [35]:
# x//y will compute a quotient and return only the integer portion of the quotient.
# 
cfd = af/bf
cid = ai/bi
cf = af//bf
ci = ai//bi
print("/  :", cfd, cid)
print("// :", cf, ci)
print("/  : {0} and {1}".format(cfd, cid))
print("// : {} and {}".format(cf, ci))

/  : 2.7 2.5
// : 2.0 2
/  : 2.7 and 2.5
// : 2.0 and 2

In [36]:
# can we swap af and bf? yes
af, bf = bf, af

# String

In [112]:
# Can you tell the difference among string s1, s2, and s3?

s1 = "Korean Oil and Gas Engineers Association"
s2 = "\"Korean Oil and Gas Engineer\'s Association\""
s3 = '"Korean Oil and Gas Engineer\'s Association"'

s = s1[0:-1]

print(s1, " \n vs. ", s2, " \n vs. ", s3)

Korean Oil and Gas Engineers Association
 vs.  "Korean Oil and Gas Engineer's Association"
 vs.  "Korean Oil and Gas Engineer's Association"

In [113]:
# indexing and slicing with a string
# string is like a list but not mutable, i.e., you cannot change the content of s
# s[0] is 'K'
# s[0:2] is "Ko"
print('First character of the string s is "{}" and first two characters are "{}"'.format(s[0], s[0:2]))

First character of the string s is "K" and first two characters are "Ko"

In [48]:
# lower() method will convert all characters into lower case
# However, s hasn't changed.
s.lower()

'korean oil and gas engineers association'

In [49]:
s.upper()

'KOREAN OIL AND GAS ENGINEERS ASSOCIATION'

In [50]:
print(s)

Korean Oil and Gas Engineers Association

In [92]:
## Let's count the characters in a string in three different ways.
## Compare these three. Which one do you like? Why?

from collections import Counter
from collections import defaultdict

Cnt = Counter()
Dct = dict()
Cdct = defaultdict(int)
for c in s:
#    print(c)
    Cnt[c] += 1   
    Cdct[c] += 1
    if Dct.get(c)== None:
        Dct[c]=1
    else:
        Dct[c] += 1

# Dictionary

In [70]:
C.most_common(2)

[(' ', 5), ('n', 5)]

In [77]:
Dct

{' ': 5,
 'A': 1,
 'E': 1,
 'G': 1,
 'K': 1,
 'O': 1,
 'a': 4,
 'c': 1,
 'd': 1,
 'e': 3,
 'g': 1,
 'i': 4,
 'l': 1,
 'n': 5,
 'o': 3,
 'r': 2,
 's': 4,
 't': 1}

In [72]:
Cdct

defaultdict(int,
            {' ': 5,
             'A': 1,
             'E': 1,
             'G': 1,
             'K': 1,
             'O': 1,
             'a': 4,
             'c': 1,
             'd': 1,
             'e': 3,
             'g': 1,
             'i': 4,
             'l': 1,
             'n': 5,
             'o': 3,
             'r': 2,
             's': 4,
             't': 1})

In [74]:
max(Cdct, key=Cdct.get)

' '

In [81]:
Cdct.pop(' ')

5

In [83]:
max(Cdct, key=Cdct.get)

'n'

In [84]:
Cdct.pop('n')

5

In [85]:
max(Cdct, key=Cdct.get)

'i'

In [86]:
max(Dct, key = Dct.get)

' '

In [90]:
for k, v in Dct.items():
    print(k, v)

G 1
  5
i 4
t 1
E 1
c 1
n 5
o 3
s 4
l 1
e 3
d 1
g 1
a 4
O 1
r 2
K 1
A 1

In [91]:
for k, v in Cdct.items():
    print(k,v)

G 1
i 4
t 1
E 1
c 1
o 3
s 4
l 1
e 3
d 1
g 1
a 4
O 1
r 2
K 1
A 1

# Tuples

In [96]:
t1 = (5, )

In [97]:
type(t1)

tuple

In [118]:
l1 = [5, "Kim, Chulwoo", True]
t2= (5, "Kim, Chulwoo", "2015-0-04")

In [121]:
type(l1)

list

In [100]:
type(t2)

tuple

# if else, string Comparision

In [117]:
# This example from EDX course 
# https://courses.edx.org/courses/course-v1:Microsoft+DEV236x+2T2019/courseware/389d57ca5e61417aa7a5634194b88e0d/db88f3e847244b9a96fbf3f6a5aa4e3c/3?activate_block_id=block-v1%3AMicrosoft%2BDEV236x%2B2T2019%2Btype%40vertical%2Bblock%400b875adbc3084e07b8419df6cb53ff55

last_name = input("enter las name: ")
if last_name.lower() <= "c":
    print ("Welcome to the a, b, c line")
elif last_name.lower() <= "f":
    print("Welcome to d,e,f line")
else:
    print("Welcome to g and above line")

enter las name: gale
Welcome to g and above line

# Map

In [124]:
map?

In [125]:
store1 = [10, 12, 15, 30]
store2 = [12, 10, 13, 35]

minPrice = map(min, store1, store2)

In [126]:
print(minPrice)

<map object at 0x7fd760226a58>

In [127]:
print(list(minPrice))

[10, 10, 13, 30]